In [5]:
import numpy as np 
import pandas as pd
df=pd.read_csv(r"/content/loan_prediction.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
categorical_values = df.select_dtypes(include = [np.object]).columns
categorical_values

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [9]:
df['Gender'].unique()

array(['Male', 'Female', nan], dtype=object)

In [21]:
df['Gender'].replace({'Male':1,'Female':0,'nan':00},inplace=True)

In [10]:
df['Married'].unique()

array(['No', 'Yes', nan], dtype=object)

In [11]:
df['Married'].replace({'Yes':1,'No':0,'nan':00},inplace=True)

In [12]:
df['Dependents'].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [13]:
df['Dependents'].replace({'0':0,'1':1,'2':2,'3+':3,'nan':00},inplace=True)

In [14]:
df['Self_Employed'].unique()

array(['No', 'Yes', nan], dtype=object)

In [15]:
df['Self_Employed'].replace({'Yes':1,'No':0,'nan':00},inplace=True)

In [16]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [17]:
df['Property_Area'].replace({'Urban':2,'Rural':0,'Semiurban':1},inplace=True)

In [18]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [19]:
df['Loan_Status'].replace({'Y':1,'N':0},inplace=True)

In [23]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [24]:
df['Education'].replace({'Graduate':1,'Not Graduate':0},inplace=True)

In [28]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Loan_ID'] = le.fit_transform(df.Loan_ID)
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1.0,0.0,0.0,1,0.0,5849,0,NaN,360.0,1.0,2,1
1,1,1.0,1.0,1.0,1,0.0,4583,1508,128.0,360.0,1.0,0,0
2,2,1.0,1.0,0.0,1,1.0,3000,0,66.0,360.0,1.0,2,1
3,3,1.0,1.0,0.0,0,0.0,2583,2358,120.0,360.0,1.0,2,1
4,4,1.0,0.0,0.0,1,0.0,6000,0,141.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,0.0,0.0,0.0,1,0.0,2900,0,71.0,360.0,1.0,0,1
610,610,1.0,1.0,3.0,1,0.0,4106,0,40.0,180.0,1.0,0,1
611,611,1.0,1.0,1.0,1,0.0,8072,240,253.0,360.0,1.0,2,1
612,612,1.0,1.0,2.0,1,0.0,7583,0,187.0,360.0,1.0,2,1
613,613,0.0,0.0,0.0,1,1.0,4583,0,133.0,360.0,0.0,1,0

In [29]:
a=df.select_dtypes(include = [np.object]).columns
a

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

Index([], dtype='object')